# Salin file ini menjadi .env dan isi nilainya
# JANGAN upload file .env ke GitHub!

SUPABASE_URL=https://ttyczxowqvwqxjkmnspw.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR0eWN6eG93cXZ3cXhqa21uc3B3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4OTk5MDIsImV4cCI6MjA5NDQ3NTkwMn0.PHklTEadltAR1GnbPafUZmiDf4XDrtHlxRrq8s_gGTk
IP_KAMERA=192.168.137.244
