Flask==3.0.3
Flask-SocketIO==5.3.6
ultralytics==8.2.28
opencv-python-headless==4.9.0.80
Pillow==10.3.0
numpy==1.26.4
requests==2.32.3
websocket-client==1.8.0
python-engineio==4.9.1
python-socketio==5.11.2
eventlet==0.36.1
gunicorn==22.0.0
supabase==2.5.1
python-dotenv==1.0.1